#pokecard-grid {
  border-width: 5px;
  border-style: solid;
  border-color: #e4000f;
  background-color: rgba(70, 150, 197, 0.562);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 50%));
  margin: auto;
  justify-content: center;
}

.pokeGridItem-1 {
  display: flex;
  justify-content: center;
}

.pokeGridItem-2 {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 45vw;
}

@media (max-width: 1009px) {
  .pokeGridItem-2 {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 70vw;
  }
}

.pokeTypeImg {
  display: inline-block;
  text-align: center;
}

#TypeList {
  display: flex;
  justify-content: center;
  width: auto;
}

.PokeCardTitle{
  text-align:center;
}

.Carousel-text {
  color: black;
  font-size: Large;
}

.moveType {
  height: 50px;
}

.movesTableContainer {
  height: 500px;
  overflow: scroll;
  padding: 10px;
}

