#pokecard-grid {
  border-width: 5px;
  border-style: solid;
  border-color: #e4000f;
  background-color: rgba(70, 150, 197, 0.562);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokeGridItem {
  
}

.pokeTypeImg {
  display: inline-block;
  text-align: center;
}

#TypeList {
  display: flex;
  justify-content: center;
  width: auto;
}

.PokeCardTitle{
  text-align:center;
}

